<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699243963253-dab6dm7bjj5uan2d44mvkhdgln6dtmil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699243963253-dab6dm7bjj5uan2d44mvkhdgln6dtmil</string>
	<key>API_KEY</key>
	<string>AIzaSyDTw-76Dq03KJeESRHRm3a4uBY_pqK_AxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>699243963253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chattapp-9a5eb</string>
	<key>STORAGE_BUCKET</key>
	<string>chattapp-9a5eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699243963253:ios:08796743dbcff6ade4693c</string>
</dict>
</plist>